.item {
  padding: 10px;
  width: 250px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid #dddddd;
  box-shadow: 0 4px 8px #0000001a, 0 0 0 2px #0000000d;
  transition: box-shadow 0.3s ease;
}

.item:hover {
  box-shadow: 0 8px 16px #00000033, 0 0 0 4px #0000001a;
}

.icons {
  color: #008000;
  position: absolute;
  top: 30%;
  right: 4%;
  transform: translate(-50%, -50%);
}
